body{ background-image: url(../img/atardecer-perfecto.jpg); background-size: 100%;}.row{ background-color: rgba(255,255,255, 0.6)}h1{ color: #fff; text-shadow: #000 2px 2px 2px;}.apartamento{ display: none;}